agentHttpPort = 8082
servletList = com.exilant.qutap.agent.service.AgentStatusReport,com.exilant.qutap.agent.service.TaskExec,com.exilant.qutap.agent.service.TestExecSuite
registrationURL=http://10.2.0.67:8080/qutapServer/engine/agent/register
pluginInstaller=http://10.2.0.67:8080/qutapServer/plugin/
serverPathToUploadVideo=http://10.2.0.67:8080/qutapServer/upload
serverPathToUploadScreenShot=http://10.2.0.67:8080/qutapServer/uploadScreenShot

videoFileFolderPath=/Users/vamsi.c/Desktop/workExcel/videoFileFolder
videoFileBackUpFolderPath=/Users/vamsi.c/Desktop/workExcel/videoFileBackup
screenShotFileFolder=/Users/vamsi.c/Desktop/workExcel/screenShotFileFolder/


memberIP= 10.2.0.67



pluginPath =/Users/vamsi.c/Documents/vamworkTest/QutapRepo/PLUGINS
recordPath =/Users/vamsi.c/Documents/vamworkTest/QutapRepo/PLUGINS






