serverPathToUploadVideo = http://localhost:8080/qutapServer/upload
serverPathToUploadScreenshot =http://localhost:8080/qutapServer/uploadScreenShot


videoFileBackUpFolderPath=/Users/kavita.hk/Desktop/workExcel/videoFileBackup

videoFileFolderPath=/Users/kavita.hk/Desktop/workExcel/videoFileFolder
screenshotFileFolderPath=/Users/kavita.hk/Desktop/workExcel/screenShotFileFolder

expectedResFrVideoUpload =/Users/kavita.hk/Documents/QuTapSetup/apache-tomcat-9.0.12/videoFolder/testVideoFile.txt
expectedResForScreenshotUpload=/Users/kavita.hk/Documents/QuTapSetup/apache-tomcat-9.0.12/ScreenShotFolder/testScreenshotFile.txt

memberIp=10.2.0.74
port=8080





